<ion-header>
  <ion-navbar>
    <ion-title>Upload New Document</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <form #docForm="ngForm" padding>
    <button *ngIf="lastImage == null" ion-button block outline color="gpsc" (click)="presentActionSheet()">
      Select Document
    </button>
    <ion-item>
      <ion-label>Expiry Date</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" [(ngModel)]="docexp_date" name="docexp_date">
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Select Doc Type</ion-label>
      <ion-select [(ngModel)]="docType" name="docType">
        <ion-option value="RC">RC</ion-option>
        <ion-option value="PUC">PUC</ion-option>
        <ion-option value="Insurance">Insurance</ion-option>
        <ion-option value="Licence">Driving Licence</ion-option>
        <ion-option value="Fitment">Fitment Certificate</ion-option>
        <ion-option value="Permit">Permit Certificate</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="docType">
      <ion-label>{{docType}} Number </ion-label>
      <ion-input style="text-align: right;" type="text" [(ngModel)]="docname" name="docname"></ion-input>
    </ion-item>
    <ion-row *ngIf="lastImage !== null">
      <ion-col>
        <button ion-button block outline color="gpsc" (click)="uploadImage()">Upload Doc</button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="lastImage !== null" padding-left padding-right>
      <ion-col col-11>
        Selected Doc <span style="color: blue;">{{lastImage}}</span>
      </ion-col>
      <ion-col col-1 (click)="removeImg()" style="text-align: right;">
        <ion-icon name="close-circle"></ion-icon>
      </ion-col>
    </ion-row>
  </form>
</ion-content>