page-all-notifications {
    .itemStyle{
        border-radius: 15px;
        font-size: 1em;
    }
    .masters {
        background-color: #f2f2f2;
        top: 6%;
        }
        .masters1{
        background-color: #f2f2f2;
        top: 0%;
        }
}
