<ion-header>
  <ion-navbar>
    <ion-title>Documents</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="_addDocument()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="_docTypeList.length > 0">
    <ion-item *ngFor="let doc of _docTypeList" (click)="viewDocFunc(doc)">
      <ion-avatar item-start>
        <img *ngIf="doc.docname == 'RC'" src="assets/imgs/rc.webp">
        <img *ngIf="doc.docname == 'PUC'" src="assets/imgs/puc.webp">
        <img *ngIf="doc.docname == 'Insurance'" src="assets/imgs/insurence.webp">
        <img *ngIf="doc.docname == 'Licence'" src="assets/imgs/dl.webp">
        <img *ngIf="doc.docname == 'Fitment'" src="assets/imgs/rc.webp">
        <img *ngIf="doc.docname == 'Permit'" src="assets/imgs/rc.webp">
      </ion-avatar>
      <h1>{{doc.docname}}</h1>
      <p>Expire On &nbsp;
        <span *ngIf="doc.expDate != 'N/A'">{{doc.expDate | date:'mediumDate'}}</span>
        <span *ngIf="doc.expDate == 'N/A'">{{doc.expDate}}</span>
      </p>
      <button ion-button item-end small icon-only color="gpsc" (click)="presentPopover($event, doc); $event.stopPropagation()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
  <ion-card *ngIf="_docTypeList.length == 0">
    <ion-card-content>
      No doucments uploaded yet... Upload documents of your vehicle by pressing above <b>+</b> button.
    </ion-card-content>
  </ion-card>

</ion-content>
<!-- <ion-header>
  <ion-navbar>
    <ion-title>Upload Document</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-col col-6 [ngClass]="{largeWidth: (myVar == 'RC' && !rcPresent)}" style="padding: 5px;"
            (click)="firstFunc('RC')" tappable>
            <div style="border: 5px solid #f2f2f2;">
              <ion-row>
                <ion-col>
                  <ion-row>
                    <ion-col class="docCol">RC</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col style="text-align: center;">
                      <ion-icon *ngIf="!rcPresent" name="cloud-upload" color="gpsc" style="font-size: 4em"></ion-icon>
                      <ion-icon *ngIf="rcPresent" name="cloud-done" color="secondary" style="font-size: 4em"></ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
          <ion-col col-6 [ngClass]="{largeWidth: (myVar == 'Insurance' && !insurencePresent)}" style="padding: 5px;"
            (click)="firstFunc('Insurance')" tappable>
            <div style="border: 5px solid #f2f2f2;">
              <ion-row>
                <ion-col>
                  <ion-row>
                    <ion-col class="docCol">Insurance</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col style="text-align: center;">
                      <ion-icon *ngIf="!insurencePresent" name="cloud-upload" color="gpsc" style="font-size: 4em">
                      </ion-icon>
                      <ion-icon *ngIf="insurencePresent" name="cloud-done" color="secondary" style="font-size: 4em">
                      </ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6 [ngClass]="{largeWidth: (myVar == 'Licence' && !licencePresent)}" style="padding: 5px;"
            (click)="firstFunc('Licence')" tappable>
            <div style="border: 5px solid #f2f2f2;">
              <ion-row>
                <ion-col>
                  <ion-row>
                    <ion-col class="docCol">Licence</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col style="text-align: center;">
                      <ion-icon *ngIf="!licencePresent" name="cloud-upload" color="gpsc" style="font-size: 4em">
                      </ion-icon>
                      <ion-icon *ngIf="licencePresent" name="cloud-done" color="secondary" style="font-size: 4em">
                      </ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
          <ion-col col-6 [ngClass]="{largeWidth: (myVar == 'PUC' && !licencePresent)}" style="padding: 5px;"
            (click)="firstFunc('PUC')" tappable>
            <div style="border: 5px solid #f2f2f2;">
              <ion-row>
                <ion-col>
                  <ion-row>
                    <ion-col class="docCol">PUC</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col style="text-align: center;">
                      <ion-icon *ngIf="!pucPresent" name="cloud-upload" color="gpsc" style="font-size: 4em"></ion-icon>
                      <ion-icon *ngIf="pucPresent" name="cloud-done" color="secondary" style="font-size: 4em">
                      </ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6 [ngClass]="{largeWidth: (myVar == 'Fitment' && !fitmentPresent)}" style="padding: 5px;"
            (click)="firstFunc('Fitment')" tappable>
            <div style="border: 5px solid #f2f2f2;" id="step2">
              <ion-row>
                <ion-col>
                  <ion-row>
                    <ion-col class="docCol">Fitment Certificate</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col style="text-align: center;">
                      <ion-icon *ngIf="!fitmentPresent" name="cloud-upload" color="gpsc" style="font-size: 4em">
                      </ion-icon>
                      <ion-icon *ngIf="fitmentPresent" name="cloud-done" color="secondary" style="font-size: 4em">
                      </ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
          <ion-col col-6 [ngClass]="{largeWidth: (myVar == 'Permitt' && !permittPresent)}" style="padding: 5px;"
            (click)="firstFunc('Permit')" tappable>
            <div style="border: 5px solid #f2f2f2;" id="step1">
              <ion-row>
                <ion-col>
                  <ion-row>
                    <ion-col class="docCol">Permit Certificate</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col style="text-align: center;">
                      <ion-icon *ngIf="!permittPresent" name="cloud-upload" color="gpsc" style="font-size: 4em"></ion-icon>
                      <ion-icon *ngIf="permittPresent" name="cloud-done" color="secondary" style="font-size: 4em">
                      </ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form #docForm="ngForm" *ngIf="docString != undefined" padding>
    <ion-item>
      <ion-label floating>{{docString}} Number </ion-label>
      <ion-input type="text" [(ngModel)]="docname" name="docname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Expiry Date </ion-label>
      <ion-input type="text" onfocus="(this.type='date')" onfocusout="(this.type='text')" [(ngModel)]="docexp_date"
        name="docexp_date">
      </ion-input>
    </ion-item>
    <button ion-button block color="gpsc" [hidden]="(docname == undefined) || (docexp_date == undefined) || (lastImage != null)"
      (click)="presentActionSheet()">
      Select Document
    </button>
    <ion-row *ngIf="lastImage !== null" padding-left padding-right>
      <ion-col col-10>
        Selected {{docString}} Doc <span style="color: blue;">{{lastImage}}</span>
      </ion-col>
      <ion-col col-2 (click)="removeImg()">
          <ion-icon name="close-circle"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="lastImage !== null">
      <ion-col>
        <button ion-button block (click)="uploadImage()">Upload Doc</button>
      </ion-col>
    </ion-row>
  </form>

</ion-content> -->