<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Me</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="toggleFooter()">
        <ion-icon color="light" name="create" *ngIf="footerState == 0"></ion-icon>
        <ion-icon color="light" name="done-all" *ngIf="footerState == 1"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-item-group>
    <ion-item-divider color="light"></ion-item-divider>
  </ion-item-group>
  <ion-item-group>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/dummy-user-img.png">
      </ion-avatar>
      <h2>{{islogin.fn}}&nbsp;{{islogin.ln}}</h2>
      <p>Account:{{islogin.account}}</p>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="light"></ion-item-divider>
  </ion-item-group>
  <ion-item-group>
    <!-- <ion-item (tap)="service()" *ngIf="!isDealer"> -->
    <ion-item (tap)="service()">
      <ion-icon name="person" item-start></ion-icon>
      Service Provider
    </ion-item>
    <ion-item (tap)="password()">
      <ion-icon name="lock" item-start></ion-icon>
      Password
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="light"></ion-item-divider>
  </ion-item-group>
  <ion-item-group>
    <ion-item (tap)="settings()">
      <ion-icon name="cog" item-start></ion-icon>
      Settings
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="light"></ion-item-divider>
  </ion-item-group>
  <ion-item-group (tap)="logout()">
    <ion-item ion-text text-center>
      Logout
    </ion-item>
  </ion-item-group>
</ion-content>
<ion-footer padding-bottom padding-top>
  <div style="text-align: center;">Version {{aVer}}</div>
  <br/>
  <div id="photo" style="text-align: center">
    <span style="vertical-align:middle">Powered by </span>&nbsp;
    <a href="http://mercury.pepezo.com/">
      <img style="vertical-align:middle" src="assets/imgs/sign.png" width="55" height="19">
    </a>
  </div>
</ion-footer>

<ion-pullup #pullup (onExpand)="footerExpanded()" (onCollapse)="footerCollapsed()" [(state)]="footerState">
  <!-- <ion-pullup-tab [footer]="pullup" (tap)="toggleFooter()">
    <ion-icon name="arrow-up" *ngIf="footerState == 0"></ion-icon><ion-icon name="arrow-down" *ngIf="footerState == 1"></ion-icon>
  </ion-pullup-tab>
  <ion-toolbar color="primary" (tap)="toggleFooter()">
    <ion-title>Footer</ion-title>
  </ion-toolbar> -->
  <ion-content>
    <ion-row padding>
      <ion-col style="text-align: center; font-size: 15px">Update Profile</ion-col>
    </ion-row>
    <form [formGroup]="credentialsForm">
      <ion-item>
        <ion-label floating>First Name</ion-label>
        <ion-input [formControl]="credentialsForm.controls['fname']" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Last Name</ion-label>
        <ion-input [formControl]="credentialsForm.controls['lname']" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Email Id</ion-label>
        <ion-input [formControl]="credentialsForm.controls['email']" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Phone Number</ion-label>
        <ion-input [formControl]="credentialsForm.controls['phonenum']" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Organisation</ion-label>
        <ion-input [formControl]="credentialsForm.controls['org']" type="text"></ion-input>
      </ion-item>
      <!-- <ion-item>
        <ion-label>Timezone</ion-label>
        <ion-select interface="popover">
          <ion-option value="f">Female</ion-option>
          <ion-option value="m">Male</ion-option>
        </ion-select>
      </ion-item> -->
      <!-- <ion-item no-lines>
        <ion-label>Dealer</ion-label>
        <ion-checkbox item-right color="green" checked="true" *ngIf="islogin.isDealer"></ion-checkbox>
        <ion-checkbox item-right color="gpsc" checked="true" *ngIf="!islogin.isDealer"></ion-checkbox>
      </ion-item> -->

      <ion-row>
        <ion-col text-center>
          <button ion-button block color="gpsc" (click)="onSignIn()">
            Update Account
          </button>
        </ion-col>
      </ion-row>

    </form>
  </ion-content>
</ion-pullup>
