<ion-header>
  <ion-navbar>
    <ion-buttons start *ngIf="shwBckBtn">
      <button ion-button small (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>Back
      </button>
    </ion-buttons>
    <ion-title>Live for {{ titleText }}</ion-title>
    <ion-buttons end>
      <button *ngIf="allData.tripStat != 'Started'" ion-button icon-only (click)="createTrip()">
        <ion-icon name="play"></ion-icon>
      </button>
      <button *ngIf="allData.tripStat == 'Started'" ion-button icon-only (click)="endTrip()">
        <ion-icon name="radio-button-on"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <div id="map_canvas_single_device">
    <ion-row>
      <ion-col>
        <ion-fab top left>
          <button ion-fab color="light" mini (click)="onClickMainMenu()">
            <ion-icon color="gpsc" name="map"></ion-icon>
          </button>
          <ion-fab-list side="bottom">
            <button style="margin: 0 2px;" ion-fab mini (click)="onClickMap('SATELLITE')" color="gpsc">
              S
            </button>
            <button style="margin: 1px 0px 1px 0px;" ion-fab mini (click)="onClickMap('HYBRID')" color="gpsc">
              H
            </button>
            <button style="margin: 1px 0px 1px 0px;" ion-fab mini (click)="onClickMap('TERRAIN')" color="gpsc">
              T
            </button>
            <button style="margin: 1px 0px 1px 0px;" ion-fab mini (click)="onClickMap('NORMAL')" color="gpsc">
              N
            </button>
          </ion-fab-list>
        </ion-fab>
      </ion-col>
      <ion-col>
        <p class="blink" style="text-align: center;font-size:24px;color:cornflowerblue;font-weight: 600;"
          *ngIf="!vehicle_speed">
          0
          <span style="font-size:16px;">Km/hr</span>
        </p>
        <p class="blink" style="text-align: center;font-size:24px;color: green;font-weight: 600;"
          *ngIf="vehicle_speed <= 60">
          {{ vehicle_speed }}
          <span style="font-size:16px;">Km/hr</span>
        </p>
        <p class="blink" style="text-align: center;font-size:24px;color: red;font-weight: 600;"
          *ngIf="vehicle_speed > 60">
          {{ vehicle_speed }}
          <span style="font-size:16px;">Km/hr</span>
        </p>
      </ion-col>
      <ion-col>
        <ion-fab top right>
          <button ion-fab color="gpsc" mini>
            <ion-icon name="arrow-dropdown"></ion-icon>
          </button>
          <ion-fab-list side="bottom">
            <button color="gpsc" style="margin: 1px 0px 1px 0px;" ion-fab *ngIf="showShareBtn"
              (click)="shareLive($event)">
              <ion-icon name="share"></ion-icon>
            </button>
            <button color="gpsc" style="margin: 1px 0px 1px 0px;" ion-fab (click)="onSelectMapOption('mapTrail')">
              <ion-icon name="eye"></ion-icon>
            </button>
            <button color="gpsc" style="margin: 1px 0px 1px 0px;" ion-fab (click)="onSelectMapOption('mapHideTraffic')">
              <ion-icon name="walk"></ion-icon>
            </button>
            <button color="gpsc" style="margin: 1px 0px 1px 0px;" ion-fab (click)="settings()">
              <ion-icon name="cog"></ion-icon>
            </button>
            <button color="gpsc" style="margin: 1px 0px 1px 0px;" ion-fab (click)="addPOI()">
              <ion-icon name="flag"></ion-icon>
            </button>
          </ion-fab-list>
        </ion-fab>
      </ion-col>
    </ion-row>

    <ion-fab right style="margin-top:59%">
      <button ion-fab color="gpsc" mini (click)="reCenterMe()">
        <ion-icon name="locate"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab right style="margin-top:72%">
      <button color="gpsc" ion-fab (click)="zoomin()" mini>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab right style="margin-top:85%">
      <button color="gpsc" ion-fab (click)="zoomout()" mini>
        <ion-icon name="remove"></ion-icon>
      </button>
    </ion-fab>

    <ion-fab left style="margin-top:85%">
      <button ion-fab color="gpsc" mini (click)="refreshMe()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-fab>

    <ion-row *ngIf="expectation.distance"
      style="margin-top:72%; background-color: rgb(0, 0, 0, 0.5); font-size: 0.8em; color: white;border-radius: 25px;width: 70%;margin: auto; padding:5px;">
      <ion-col style="background-color: transparent; text-align: center;" col-6>
        Distance {{ expectation.distance }}
      </ion-col>
      <ion-col style="background-color: transparent; text-align: center;" col-6>
        Time {{ expectation.duration }}
      </ion-col>
    </ion-row>
  </div>
</ion-content>
<div *ngIf="showActionSheet" class="divPlan">
  <ion-bottom-drawer [(state)]="drawerState" [dockedHeight]="dockedHeight" [shouldBounce]="shouldBounce"
    [distanceTop]="distanceTop" [minimumHeight]="minimumHeight" [transition]="transition" (click)="setDocHeight()">
    <div class="drawer-content">
      <p padding-left style="font-size: 13px; padding-bottom: 3px; color:cornflowerblue;">
        Last Updated On &mdash;
        {{ last_ping_on | date: "medium" }}
      </p>
      <p padding-left style="font-size: 13px" *ngIf="!address">N/A</p>
      <p padding-left style="font-size: 13px" *ngIf="address">{{ address }}</p>
      <hr />
      <ion-row>
        <ion-col width-10 style="text-align:center">
          <img src="assets/imgs/statusIcons/ign_red.png" *ngIf="last_ACC == '0'" width="20" height="20" />
          <img src="assets/imgs/statusIcons/ign_green.png" *ngIf="last_ACC == '1'" width="20" height="20" />
          <img src="assets/imgs/statusIcons/ign_idle.png" *ngIf="last_ACC == null" width="20" height="20" />
          <p>IGN</p>
        </ion-col>
        <ion-col width-10 style="text-align:center">
          <img src="assets/imgs/statusIcons/ac_na.png" *ngIf="acModel == null" width="20" height="20" />
          <img src="assets/imgs/statusIcons/ac_present.png" *ngIf="acModel == '1'" width="20" height="20" />
          <img src="assets/imgs/statusIcons/ac_empty.png" *ngIf="acModel == '0'" width="20" height="20" />
          <p>AC</p>
        </ion-col>
        <ion-col width-10 style="text-align:center">
          <img src="assets/imgs/statusIcons/fuel_available.png" *ngIf="currentFuel != null" width="20" height="20" />
          <img src="assets/imgs/statusIcons/fuel_empty.png" *ngIf="currentFuel == null" width="20" height="20" />
          <p>Fuel</p>
        </ion-col>
        <ion-col width-10 style="text-align:center">
          <img src="assets/imgs/statusIcons/power_na.png" *ngIf="power == null" width="20" height="20" />
          <img src="assets/imgs/statusIcons/pwer_disconnected.png" *ngIf="power == '0'" width="20" height="20" />
          <img src="assets/imgs/statusIcons/power_connected.png" *ngIf="power == '1'" width="20" height="20" />
          <p>Power</p>
        </ion-col>
        <ion-col width-10 style="text-align:center">
          <img src="assets/imgs/statusIcons/gps_na.png" *ngIf="gpsTracking == null" width="30" height="20" />
          <img src="assets/imgs/statusIcons/gps_notPresent.png" *ngIf="gpsTracking == '0'" width="30" height="20" />
          <img src="assets/imgs/statusIcons/gps_present.png" *ngIf="gpsTracking == '1'" width="30" height="20" />
          <p>GPS</p>
        </ion-col>
      </ion-row>
      <hr />
      <ion-row>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="!total_odo">
            N/A
          </p>
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="total_odo">
            {{ total_odo | number: "1.0-2" }}
          </p>
          <p style="font-size: 13px">Odometer</p>
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="!vehicle_speed">
            0 Km/hr
          </p>
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="vehicle_speed">
            {{ vehicle_speed }} Km/hr
          </p>
          <p style="font-size: 13px">
            Speed
          </p>
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="fuel">
            {{ fuel }}
          </p>
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="!fuel">N/A</p>
          <p style="font-size: 13px">Fuel</p>
        </ion-col>
      </ion-row>
      <hr />
      <ion-row>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="!distFromLastStop">
            0 Kms
          </p>
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="distFromLastStop">
            {{ distFromLastStop | number: "1.0-2" }} Kms
          </p>
          <p style="font-size: 13px">From Last Stop</p>
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <img src="assets/imgs/milestone-png-1.png" width="30" height="35" style="margin-top: 9%" />
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="!todays_odo">
            0 Kms
          </p>
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="todays_odo">
            {{ todays_odo | number: "1.0-2" }} Kms
          </p>
          <p style="font-size: 13px">Total</p>
        </ion-col>
      </ion-row>
      <hr />
      <ion-row>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="!timeAtLastStop">
            N/A
          </p>
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="timeAtLastStop">
            {{ timeAtLastStop }}
          </p>
          <p style="font-size: 13px">At Last Stop</p>
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <img src="assets/imgs/parkinglogo.png" width="30" height="30" style="margin-top: 9%" />
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="!today_stopped">
            N/A
          </p>
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="today_stopped">
            {{ today_stopped }}
          </p>
          <p style="font-size: 13px">Total</p>
        </ion-col>
      </ion-row>
      <hr />
      <ion-row>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="!lastStoppedAt">
            N/A
          </p>
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="lastStoppedAt">
            {{ lastStoppedAt }}
          </p>
          <p style="font-size: 13px">From Last Stop</p>
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <img src="assets/imgs/2530791.png" width="30" height="35" style="margin-top: 9%" />
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="!today_running">
            N/A
          </p>
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="today_running">
            {{ today_running }}
          </p>
          <p style="font-size: 13px">Total</p>
        </ion-col>
      </ion-row>
    </div>
  </ion-bottom-drawer>
</div>

<div *ngIf="showFooter">
  <ion-bottom-drawer [(state)]="drawerState1" [dockedHeight]="dockedHeight1" [shouldBounce]="shouldBounce"
    [distanceTop]="distanceTop1" [minimumHeight]="minimumHeight1">
    <div class="drawer-content">
      <p style="font-size:1.2em; color:black;">
        Share Live Vehicle
      </p>
      <ion-row>
        <ion-col col-4 style="padding: 5px">
          <button ion-button block color="{{ condition }}" (click)="sharedevices('15mins')">
            15 mins
          </button>
        </ion-col>
        <ion-col col-4 style="padding: 5px">
          <button ion-button block color="{{ condition1 }}" (click)="sharedevices('1hour')">
            1 hour
          </button>
        </ion-col>
        <ion-col col-4 style="padding: 5px">
          <button ion-button block color="{{ condition2 }}" (click)="sharedevices('8hours')">
            8 hours
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4></ion-col>
        <ion-col col-4></ion-col>
        <ion-col col-4 style="text-align: right;">
          <ion-fab style="right: calc(10px + env(safe-area-inset-right));">
            <button ion-fab mini (click)="shareLivetemp()" color="gpsc">
              <ion-icon name="send" color="black"></ion-icon>
            </button>
          </ion-fab>
        </ion-col>
      </ion-row>
    </div>
  </ion-bottom-drawer>
</div>