<div>
    <ion-row>
        <ion-col col-11>

        </ion-col>
        <ion-col col-1>
            <ion-icon style="font-size:1.5em" name="close-circle" (tap)="dismiss()"></ion-icon>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col style="text-align: center;">
            <img src="{{imgUrl}}" width="300" height="450" />
        </ion-col>
    </ion-row>
    <ion-row padding-left>
        <ion-col col-3>
            <b>Expiry Date:</b>
        </ion-col>
        <ion-col col-9>{{_instData.expDate | date: 'medium'}}</ion-col>
    </ion-row>
</div>